
button{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    color: #3008c1;
    box-shadow: 0 0 5px #ccc;
}

button.active {
    background-color: #3008c1;
    color: #fff;
}

.selected {
    padding: 20px;
    background-color: aquamarine;
  }

.allshapes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px;
}