
<h1>Shapes</h1>

<div class="allshapes">
    <shape *ngFor="let shape of shapes"
          [lines]="shape.lines"
          [selectedColor]="getShapeColor(shape.id)"
          (click)="selectShape(shape.id)"
          [class.selected]="shape.id === selectedShapeId">
    </shape>
</div>


<div class="colors">
  <h2>Select Color:</h2>
  <div>
    <p-button *ngFor="let color of colors" (click)="selectColor(color)" [class.active]="selectedColor === color">{{ color | uppercase }}</p-button>
  </div>
</div>

<div>
  <p-button (click)="saveShape()" styleClass="p-button-raised p-button-text">Save shape</p-button>
  <p-button (click)="loadShapes()" styleClass="p-button-raised p-button-text">Load shapes</p-button>

</div>
