.shape-container {
    position: relative;
    width: 300px;
    height: 300px;
    border: 1px solid #000;
  }
  
  .line {
    position: absolute;
    border: 1px solid #000;
  }

  .allshapes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }



