
button{
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    outline: none;
    font-size: 16px;
    font-weight: bold;
    color: #3008c1;
    box-shadow: 0 0 5px #ccc;
}